<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.store.mapper.SellerMapper">
	<select id="search" resultType="com.store.model.response.SellerResponse"
			parameterType="com.store.model.request.SellerRequest">
		SELECT * FROM "seller"
		  WHERE email = #{email} and password = #{password}
	</select>
	<select id="count" resultType="Integer">
		SELECT  COUNT(*) FROM "seller"
	</select>
    <select id="checkEmailExist" resultType="Integer">
		SELECT * FROM "seller"
		WHERE email = #{email}
	</select>
	<insert id="create" parameterType="com.store.model.request.SellerRequest">
        INSERT INTO seller(
            email,
            "name",
            password,
           	refferal_code
        )VALUES(
        #{email},
        #{name},
        #{password},
        #{refferalCode}
        )
    </insert>
	<update id="update" parameterType="com.store.model.request.SellerRequest">
        UPDATE control_list
        SET NAME = #{name},
            password = #{password},
        WHERE email = #{email}
    </update>
</mapper>
